.header{
    width: 100%;
    height: 60px;
    display: flex;
    border-bottom: 1px solid rgb(165, 165, 165)
}
.burger{
    width: 5%;
    border-right: 1px solid rgb(165, 165, 165)
}
.sum{
    background-color:#57CAD5;
    border-radius: 50px
}

.iconBurger{
    width: 90%
}

.items{
width: 65%;
margin: auto;
display: flex;
}
.textItems{
    width: 90%;
    text-align: center;
    font-weight: 700;
    margin: 0;
    top: 50%;
    font-size: 18pt
}

.search{
width:  10%;
margin: auto
}
.iconSearch{
    width: 20%;
}

.cart{
width: 30%;
border-left: 1px solid rgb(165, 165, 165);
display: flex;
}
.textCart{
    width: 100%;
    text-align: center;
    font-weight: 700;
    top: 50%;
}
