.container{
    height: 500px;
}

.search{
width:  10%;
margin: auto
}
.iconSearch{
    width: 20%;
}

.cart{
width: 30%;
border-left: 1px solid rgb(165, 165, 165);
display: flex;
}
.textCart{
    width: 100%;
    text-align: center;
    font-weight: 700;
    top: 50%;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
}

.leftBar{
    width: 5%;
    height: 500px;
padding-top: 40px
}
.iconSendok{
    width: 40%;
    padding: 20px
}
.iconList{
    width: 40%;
    padding: 20px
}
.iconAdd{
    width: 40%;
    padding: 20px;

}

.textItem{
    margin: -30
}
.textSub{
    color: #CECECE;
    font-size: 10pt
}
.menuItems{
    width: 95%;
    background-color: rgb(236, 236, 236);
    padding-top: 20px
}

.cartItem{
    width: 30%
}