.cardContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px
}
.menuItem{
    width: 65%;
    background-color: rgb(236, 236, 236);
    overflow-y: scroll;
}
.card{
    height: 200px;
    width: 180px;
    margin: 15px;
    float: left;
    cursor: pointer;
}
.foto{
    width: 100%;
    height: 70%;
    margin-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.foto2{
    width: 100%;
    height: 70%;
    margin-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0.5;
}
.nameKopi{
    margin: 0px;
}
.hargaKopi{
    margin: 0px;
    font-weight: 500;
}