.menuLoading{
  width: 65%;
  background-color: rgb(236, 236, 236);
}
.loading{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid #e74c3c;
    position: relative;
    animation: a1 2s linear infinite;
    margin-left: 38%;
    margin-top: 20%
  }
  
  .loading::before,.loading::after{
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%;
  }
  
  .loading::before{
    border-top: 10px solid #e67e22;
    transform: rotate(120deg);
  }
  
  .loading::after{
    border-top: 10px solid #3498db;
    transform: rotate(240deg);
  }
  
  .loading span{
    position: absolute;
    width: 100px;
    height: 100px;
    color: rgb(92, 92, 92);
    text-align: center;
    line-height: 100px;
    animation: a2 2s linear infinite;
  }
  
  @keyframes a1 {
    to{
      transform: rotate(360deg);
    }
  }
  
  @keyframes a2 {
    to{
      transform: rotate(-360deg);
    }
  }
  